.container-fluid{
    background-color: blue;
}

@media screen and (max-width: 1000px) and (min-width: 10px) {
    /* Show the navbar toggler and hide the navbar links */
    .navbar-collapse {
        display: none;
    }
    .navbar-toggler {
        display: block;
    }
}

.container{
    background-color: green;
}