.container-fluid{
    height: 50px;
}

.custom-border {
    border: 0px solid #ddd; /* Add your preferred border style */
    padding: 15px; /* Add padding for better visibility */
    margin-bottom: 15px; /* Add margin for better spacing */
}

.featured-project {
    background-color: #3B41D8; /* Blue background */
    color: #fff; /* White text */
    padding: 15px; /* Add padding for better visibility */
    margin-left: 50px;
    margin-right: 50px;
}

.description{
    padding: 15px; /* Add padding for better visibility */
    margin-top: 20px;
    font-size: 20px;
}

.view-project{
    background-color: #D9D9D9;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;
}

.bio-column{
    background-color: #3B41D8; /* Light gray background for the bio column */
    color: #fff; /* White text */
    padding: 15px; /* Add padding for better visibility */
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

.github{
    background-color: #3B41D8;
    color: #fff;
    padding: 15px;
    font-size: 40px;
}

.repos{
    background-color: #D9D9D9;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

.socials{
    background-color: #3B41D8;
    padding: 5px;
    color: #fff;
    margin-left: 50px;
    margin-right: 50px;
}

.instagram{
    padding: 10px;
}

.twitter{
    padding: 10px;
}

.img-fluid{
    margin-top: 50px;
}