.container-fluid{
    background-color: blue;
}

@media screen and (max-width: 1000px) and (min-width: 0px) {
    /* Show the navbar toggler and hide the navbar links */
    .navbar-collapse {
        display: none;
    }
    .navbar-toggler {
        display: block;
    }
}

.custom-border {
    border: 0px solid #ddd; /* Add your preferred border style */
    padding: 15px; /* Add padding for better visibility */
    margin-bottom: 15px; /* Add margin for better spacing */
}

.featured-project {
    background-color: #3B41D8; /* Blue background */
    color: #fff; /* White text */
    padding: 15px; /* Add padding for better visibility */
    margin-left: 50px;
    margin-right: 50px;
}

.description-background {
    background-color: #ccc; /* Gray background */
    padding: 15px; /* Add padding for better visibility */
}

.bio-column {
    background-color: #3B41D8; /* Light gray background for the bio column */
    color: #fff; /* White text */
    padding: 15px; /* Add padding for better visibility */
    margin-left: 200px;
    margin-right: 200px;

}