.flexbox-container{
    display: flex;
    flex-direction: column;
}

.flexbox-item{
    width: 200px;
    align-content: space-around;
}

.grid-container{
    grid-template-areas:
    "header header header header"
    "left left right right"
    "left left right right"
    "left left right right"
    "footer footer footer footer";
}

.header{
    background-color: #dfdfdf;
    display: flex;
    align-items: flex-start;
    min-height: 150px;
    min-width: 100%;
    flex-direction: row;
    grid-area: header;
}
.left{
    grid-area: left;
}
.right{
    grid-area: right;
}
.headerText{
    font-size: 48px;
}

.featuredProjects{
    display: flex;
    background-color: #3B41D8;
    padding: .5em;
    width: 210px;
    height: 75px;
    font-size: 20px;
    text-align: center;
    margin-left: 500px;
    align-items: center;
    margin-top: 60px;
    color: white;
}

.allProjects{
    display: flex;
    background-color: #3B41D8;
    padding: .5em;
    width: 210px;
    height: 75px;
    font-size: 20px;
    text-align: center;
    margin-left: 50px;
    align-items: center;
    margin-top: 60px;
    color: white;
}

.featuredProjectsImage{
    align-items: center;
    min-height: 337.838px;
    min-width: 600px;
    margin-top: 30px;
    border: 3px solid #3B41D8;
    justify-content: space-around;
    background-image: url("images/Friends-TV-Show.jpg");
    background-repeat: no-repeat;
    background-size: 600px 337.838px;
}

.featuredProject{
    min-height: 100px;
    min-width: 500px;
    justify-content: space-around;
    margin-left: 50px;
    margin-top: 10px;
    display: flex;
    background-color: #3B41D8;
}

.featuredProjectText{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.aboutFeaturedProject{
    min-height: 47px;
    min-width: 600px;
    justify-content: space-around;
    margin-top: 20px;
    text-align: center;
}

.viewProject{
    min-height: 50px;
    min-width: 200px;
    background-color: #dfdfdf;
    justify-content: space-around;
    margin: 10px;
    margin-left: 200px;
}

.viewProjectText{
    text-align: center;
    font-size: 20px;
    align-items: center;
    margin-top: 10px;
}

.bio{
    min-height: 60px;
    min-width: 180px;
    background-color: #3B41D8;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 200px;
}

.bioText{
    font-size: 40px;
    text-align: center;
    align-items: center;
    color: white;
}

.aboutBio{
    min-width: 497px;
    min-height: 95px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 30px;
}

.githubRepos{
    min-height: 60px;
    min-width: 360px;
    background-color: #3B41D8;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 100px;
}

.githubReposText{
    font-size: 40px;
    text-align: center;
    align-items: center;
    color: white;
}

.myGithub{
    min-height: 50px;
    min-width: 150px;
    background-color: #dfdfdf;
    justify-content: space-around;
    margin: 10px;
    margin-left: 200px;
}

.myGithubText{
    text-align: center;
    font-size: 20px;
    align-items: center;
    margin-top: 20px;
}

.socials{
    min-height: 60px;
    min-width: 240px;
    background-color: #3B41D8;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 175px;
}

.socialsText{
    font-size: 40px;
    text-align: center;
    align-items: center;
    color: white;
}

.instagram{
    min-height: 100px;
    min-width: 100px;
    background-image: url("images/instagram.png");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    margin-left: 165px;
    margin-top: 10px;
}

.twitter{
    min-height: 100px;
    min-width: 100px;
    background-image: url("images/twitter.png");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    margin-left: 165px;
    margin-top: 10px;
}

.footer{
    background-color: #dfdfdf;
    display: flex;
    align-items: flex-end;
    min-height: 75px;
    min-width: 100%;
    flex-direction: row;
    margin-top: 10px;
    grid-area: footer;
}
.copyright{
    min-width: 185px;
    min-height: 38px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}
.figma{
    min-width: 185px;
    min-height: 38px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}