@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Teko");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Rock Salt");
@import url("https://fonts.googleapis.com/css?family=Roboto");

.grid-container{
    display: grid;
    grid-template-areas:
      'head head head head head head'
      'banner banner banner banner rightside'
      'banner banner banner banner rightside'      
      'bottomleft bottomleft bottomright bottomright rightside'
      'bottomleft bottomleft bottomright bottomright rightside'
      'footer footer footer footer footer';
}

.background{
    background-color: #282828;
    position: relative;
    width: 1820px;
    height: 1080px;
}

.item1{
    grid-area: head;
    position: absolute;
    width: 1820px;
    height: 100px;
    left: 0px;
    top: 0px;
    
    background: #070707;
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 70px;
    text-indent: 30px;

    color: #BB0908;
}

#icon1{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1545px;
    top: 18px;
}

#icon2{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1618px;
    top: 16px;
}

#icon3{
    position: absolute;
    width: 69px;
    height: 69px;
    left: 1690px;
    top: 14px;
}

#banner{
    grid-area: banner;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    position: absolute;
    width: 1440px;
    height: 388px;
    left: 8px;
    top: 108px;

}

#rightside{
    position: absolute;
    width: 360px;
    height: 919px;
    left: 1460px;
    top: 100px;
    background: #393939;
}

#sign{
    position: absolute;
    width: 325px;
    height: 254px;
    left: 1485px;
    top: 128px;
}

#sidetext{
    position: absolute;
    width: 275px;
    height: 385px;
    left: 1504px;
    top: 409px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

b{
    color: #FC0303;
}

#underwater{
    position: absolute;
    width: 325px;
    height: 170.52px;
    left: 1485px;
    top: 825px;
}

#bottomleft{
    grid-area: bottomleft;
    background-color: #393939;
    border-top: 5px solid #BB0908;
    width: 700px;
    height: 479px;
    top: 512px;
    left: 30px;
    position: absolute;
}

#lefttext{
    grid-area: bottomleft;
    font-family:'Poppins';
    font-style: regular;
    font-size: 18px;
    line-height: 27px;
    width: 349px;
    height: 216px;
    top: 625px;
    left: 355px;
    align-items: left;
    color: #FFFFFF;
    position: absolute;
    border-top: 5px solid #BB0908;
}

#poster{
    grid-area: bottomleft;
    position: absolute;
    width: 310px;
    height: 480px;
    left: 30px;
    top: 517px;
}

#anniversarytext{
    grid-area: bottomleft;
    position: absolute;
    font-family:'Rock Salt';
    font-style: regular;
    font-size: 30px;
    color: #FF1D29;
    width: 353px;
    top: 510px;
    left: 355px;
}

#blueray{
    position: absolute;
    width: 117px;
    height: 148px;
    left: 351px;
    top: 840px;
}

#amazontext{
    position: absolute;
    width: 191px;
    height: 157px;
    left: 491px;
    top: 826px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-decoration-line: underline;

    color: #22C1CB;
}

#price{
    position: absolute;
    width: 191px;
    height: 157px;
    left: 500px;
    top: 800px;

    font-family: 'Teko';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 103px;
    text-decoration-line: underline;

    color: #FFFFFF;
}

#bottomright{
    grid-area: bottomright;
    background-color: #393939;
    border-top: 5px solid #BB0908;
    position: absolute;
    width: 700px;
    height: 480px;
    left: 748px;
    top: 511px;
}

#righttext{
    grid-area: bottomright;
    position: absolute;
    width: 676px;
    height: 195px;
    left: 770px;
    top: 757px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #FFFFFF;
}

#pennant{
    position: absolute;
    width: 641px;
    height: 229px;
    left: 765px;
    top: 530px;
}

#footer{
    grid-area: footer;
    background-color: #070707;
    width: 1820px;
    height: 60px;
    top: 1027px;
    text-indent: 30px;
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    color: #BCBCBC;
    position: absolute;

}